/*
  @file
*/

body {
  font-family: sans-serif;
  background-color: #E3BC83;
  background-image:url('images/seamless-wood.jpg');
}

img.logo {
  margin: 0 auto;
  display: block;
}

/* Status Area  */
#status {
  background-color: whitesmoke;
  border-radius: 12px 0;
  height: 4em;
  margin-left: 215px;
  margin-top: 0.5em;
  padding: 3px;
  width: 723px;
  position: relative;
}

#status .progress-wrapper {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 99%;
}

#status progress {
  margin-right: 10px;
  width: 87%;
}

/* Drawing Area */
svg#main {
  background-color: white;
  box-shadow: 0 0 0 1.3rem #CCCCCC;
  position: absolute;
  left: 235px;
  top: 147px;
  transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0;
}

svg#main * {
  stroke-width: 8 !important;
}

svg#main #cncserversvg path.selected {
  stroke: blue !important;
  stroke-width: 10 !important;
}

svg#main path:hover {
  stroke: red !important;
}

/* Drawing Simulation Canvas */
canvas#simulate {
  position: absolute;
  z-index: -10;
  display:none;
}

/* Nav Tools */

nav#control h3 {
  margin-top: 0;
}

nav#tools {
  left: 0;
  position: absolute;
  top: 4em;
}

nav#tools #waters {
  left: -96px;
  overflow: hidden;
  padding: 1em;
  position: absolute;
  top: 19px;
}

nav#tools .water {
  border: 2px solid #EEE;
  border-radius: 150px 150px 150px 150px;
  height: 150px;
  margin-bottom: 51px;
  width: 150px;

  background: #c5deea; /* Old browsers */
  background: radial-gradient(ellipse at center, #c5deea 0%,#b1c9d6 44%,#a6e3f4 100%); /* W3C */
}

nav#tools a:hover, nav#tools a:focus {
  animation-name: hover-pulse;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;

  -webkit-animation-name: hover-pulse;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Animation Keyframes */
@keyframes hover-pulse {
  0%   { box-shadow: 0 0 2px 5px red; }
  50%  { box-shadow: 0 0 6px 8px red; }
  100%  { box-shadow: 0 0 2px 5px red; }
}

@-webkit-keyframes hover-pulse {
  0%   { box-shadow: 0 0 2px 5px red; }
  50%  { box-shadow: 0 0 6px 8px red; }
  100%  { box-shadow: 0 0 2px 5px red; }
}

@keyframes hover-pulse-selected {
  0%   { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 0 3px #fff, 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
}

@-webkit-keyframes hover-pulse-selected {
  0%   { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 0 3px #fff, 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
}

@keyframes hover-button {
  0%   { box-shadow: 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 2px 8px #33F; }
}

@-webkit-keyframes hover-button {
  0%   { box-shadow: 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 2px 8px #33F; }
}

nav#tools div.static {
  background-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  margin: 13px -7px -13px;
  padding: 7px;
  overflow: hidden;
  border-top: 3px solid #000000;
  position: relative;
}

nav#tools div.static:before {
  background-color: black;
  content: "";
  display: block;
  height: 65px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: 2;
}

nav#tools div.static a {
  display: block;
  width: 40%;
  height: 50px;
  text-align: center;
  border-radius: 15px;
}

nav#tools div.static a#colorx {
  color: red;
  float: left;
  font-size: 3.5em;
  line-height: 0.9em;
}

nav#tools div.static a#colornone {
  background-color: white;
  float: right;
  color: black;
  overflow: hidden;
  text-indent: -7em;
}

nav#tools a, nav#tools a:link  {
  display: block;
  color: white;
  text-decoration: none;
}

nav#tools #colors {
  background-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 0 0 2px 8px #CCCCCC, 0 0 0 9px #777777;
  margin-left: 91px;
  padding: 1px 7px 9px;
  position: relative;
}

nav#tools .color {
  border: 2px solid #999;
  border-radius: 135px 135px 135px 135px / 95px 95px 95px 95px;
  height: 58px;
  line-height: 55px;
  margin-top: 10px;
  text-align: center;
  width: 85px;
}

nav#tools .color.selected {
  animation-name: hover-pulse-selected;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;

  -webkit-animation-name: hover-pulse-selected;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Nav Controls & Button Graphics */
fieldset#control {
  padding: 0.3em;
  position: absolute;
  right: 1em;
  width: 12.5em;
  background-color: #DDD;
}

#control button {
  background-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  display: block;
  float: left;
  height: 65px;
  line-height: 1.2em;
  margin-bottom: 2.7em;
  margin-right: 0.7em;
  padding-top: 64px;
  width: 68px;
  background-repeat: no-repeat;
}

#control button:hover {
  animation-name: hover-button;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;

  -webkit-animation-name: hover-button;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

#control button:disabled, #control button:disabled:hover {
  opacity: 0.5;
  animation: none;
  -webkit-animation: none;
}

#control button#pen.up { background-image: url("images/icon_brush_up.png"); }
#control button#pen.down { background-image: url("images/icon_brush_down.png"); }
#control button#draw { background-image: url("images/icon_draw_path.png"); }
#control button#fill { background-image: url("images/icon_fill.png"); }
#control button#disable { background-image: url("images/icon_unlock.png"); }
#control button#zero { background-image: url("images/icon_zero.png"); }
#control button#park { background-image: url("images/icon_home.png"); }
#control button#auto-paint { background-image: url("images/icon_auto_paint.png"); }
#control button#auto-color { background-image: url("images/icon_auto_color.png"); }
#control button#auto-color.undo { background-image: url("images/icon_auto_color_undo.png"); }


/* Color Action selection */
nav#color-action #color-action-label {
  display: block;
  font-weight: bold;
}

nav#color-action input {
  display:none;
}

nav#color-action label {
    display:block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

nav#color-action input[type="radio"]:checked + label {
 background-color:#bbb;
}

/* Color Set 1 */
nav#tools #color0.colorset1 { background-color: #844B35; } /* Brown */
nav#tools #color1.colorset1 { background-color: #907DBD; } /* Violet */
nav#tools #color2.colorset1 { background-color: #353AAA; } /* Blue */
nav#tools #color3.colorset1 { background-color: #2E6F3A; } /* Green */
nav#tools #color4.colorset1 { background-color: #F7F756; color: black;} /* Yellow */
nav#tools #color5.colorset1 { background-color: #FF6A00; } /* Orange */
nav#tools #color6.colorset1 { background-color: #A72611; } /* Red */
nav#tools #color7.colorset1 { background-color: #3E3A39; } /* Black */


/* Status Log */
#cancel {
  color: red;
}

#log {
  border: 1px solid black;
  height: 1.2em;
  overflow: auto;
}

#log div {
  overflow: hidden;
  border-top: 1px dashed #ddd;
}

#log span {
  display: block;
  float: left;
  font-family: monospace;
  font-weight: bold;
  height: 1.5em;
  line-height: 1.5em;
}

#log span.time {
  padding-right: 1em;
  padding-left: 0.5em;
}

#log span.status {
  float: right;
  padding: 0 1em;
  min-width: 100px;
  text-align: center;
}

#log span.success {
  background-color: green;
  color: white;
}

#log span.error {
  background-color: red;
  color: white;
}

#log span.complete {
  background-color: blue;
  color: white;
}

#log span.loading {
  background-image: url("images/log-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
}


/* Collapsable fieldsets */
#control fieldset {
  padding: 0;
}

#control fieldset legend {
  margin-left: 6px;
}

#control fieldset nav {
  overflow: hidden;
  padding: 10px;
}

#control fieldset.closed {
  border-bottom: medium none;
  border-left: medium none;
  border-right: medium none;
  padding: 8px 1px;
  overflow: hidden;
}

#control fieldset.closed, fieldset.closed legend, fieldset.open legend {
  cursor: pointer;
}

#control fieldset.closed:hover, fieldset.closed legend:hover {
  background-color: turquoise;
}

#control fieldset.closed nav {
  height: 0;
  padding: 0;
}
