/*
  @file
*/

html {
  background-image:url('images/seamless-wood.jpg');
  background-color: #E3BC83;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image:url('images/watercolor-stains.png');
}

img.logo {
  margin: 0 auto;
  display: block;
}

/* Status Area  */
#status {
  background-color: whitesmoke;
  border-radius: 12px 0;
  height: 4em;
  left: 215px;
  margin-top: 0.5em;
  padding: 3px;
  width: 723px;
  position: absolute;
}

#cancel {
  color: red;
}

#pause {
  color: green;
}

#pause.active {
  font-weight: bold;
  margin-left: -1%;
  margin-right: -1%;
  width: 10.5%;

  animation-name: pause-active;
  animation-duration: 500ms;
  animation-iteration-count: infinite;

  -webkit-animation-name: pause-active;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
}

#status button {
  float: right;
  margin-left: 1%;
  width: 9%;
}

#status .progress-wrapper {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 99%;
}

#status progress {
  width: 78%;
}

/* Drawing Area */
svg#main {
  background-color: white;
  box-shadow: 0 0 0 1.3rem #CCCCCC;
  position: absolute;
  left: 235px;
  top: 147px;
  transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0;
}

svg#main * {
  stroke-width: 8 !important;
}

svg#main #cncserversvg path.selected {
  stroke: blue !important;
  stroke-width: 10 !important;
}

svg#main g path:hover {
  stroke: red !important;
}

/* Drawing Simulation Canvas */
canvas#simulate {
  position: absolute;
  z-index: -10;
  display:none;
}

/* Nav Tools */

nav#control h3 {
  margin-top: 0;
}

nav#tools {
  left: 0;
  position: absolute;
  top: 4em;
  transform-origin: top left;
  -webkit-transform-origin: top left;
}

nav#tools #coloraction {
  left: 83px;
  position: absolute;
  top: -53px;
  width: 9em;
}

nav#tools #colorsets {
  left: 83px;
  position: absolute;
  top: -31px;
}

nav#tools #waters {
  left: -96px;
  overflow: hidden;
  padding: 1em;
  position: absolute;
  top: 19px;
}

nav#tools .water {
  border: 2px solid #EEE;
  border-radius: 150px 150px 150px 150px;
  height: 150px;
  margin-bottom: 51px;
  width: 150px;

  background: #c5deea; /* Old browsers */
  background: radial-gradient(ellipse at center, #c5deea 0%,#b1c9d6 44%,#a6e3f4 100%); /* W3C */
}

nav#tools a:hover, nav#tools a:focus {
  animation-name: hover-pulse;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;

  -webkit-animation-name: hover-pulse;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Animation Keyframes */
@keyframes hover-pulse {
  0%   { box-shadow: 0 0 2px 5px red; }
  50%  { box-shadow: 0 0 6px 8px red; }
  100%  { box-shadow: 0 0 2px 5px red; }
}

@-webkit-keyframes hover-pulse {
  0%   { box-shadow: 0 0 2px 5px red; }
  50%  { box-shadow: 0 0 6px 8px red; }
  100%  { box-shadow: 0 0 2px 5px red; }
}

@keyframes hover-pulse-selected {
  0%   { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 0 3px #fff, 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
}

@-webkit-keyframes hover-pulse-selected {
  0%   { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 0 3px #fff, 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
}

@keyframes hover-button {
  0%   { box-shadow: 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 2px 8px #33F; }
}

@-webkit-keyframes hover-button {
  0%   { box-shadow: 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 2px 8px #33F; }
}

@keyframes pause-active {
  0%   { box-shadow: 0 0 0 18px yellow; }
  50%  { box-shadow: 0 0 0 5px yellow; }
  100%  { box-shadow: 0 0 0 18px yellow; }
}

@-webkit-keyframes pause-active {
  0%   { box-shadow: 0 0 0 18px yellow; }
  50%  { box-shadow: 0 0 0 5px yellow; }
  100%  { box-shadow: 0 0 0 18px yellow; }
}

nav#tools div.static {
  background-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  margin: 13px -7px -13px;
  padding: 7px;
  overflow: hidden;
  border-top: 3px solid #000000;
  position: relative;
}

nav#tools div.static:before {
  background-color: black;
  content: "";
  display: block;
  height: 65px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: 2;
}

nav#tools div.static a {
  display: block;
  width: 40%;
  height: 50px;
  text-align: center;
  border-radius: 15px;
}

nav#tools div.static a#colorx {
  color: red;
  float: left;
  font-size: 3.5em;
  line-height: 0.9em;
}

nav#tools div.static a#colornone {
  background-color: white;
  float: right;
  color: black;
  overflow: hidden;
  text-indent: -7em;
}

nav#tools a, nav#tools a:link  {
  display: block;
  color: white;
  text-decoration: none;
}

nav#tools #colors {
  background-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 0 0 2px 8px #CCCCCC, 0 0 0 9px #777777;
  margin-left: 91px;
  padding: 1px 7px 9px;
  position: relative;
}

nav#tools .color {
  border: 2px solid #999;
  border-radius: 135px 135px 135px 135px / 95px 95px 95px 95px;
  height: 58px;
  line-height: 55px;
  margin-top: 10px;
  text-align: center;
  width: 85px;
}

nav#tools .color.selected {
  animation-name: hover-pulse-selected;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;

  -webkit-animation-name: hover-pulse-selected;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Nav Controls & Button Graphics */
fieldset#control {
  background-image: url("images/seamless-wood.jpg");
  border: 1px solid #C9A165;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 0 8px 2px #EBC089 inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 0.75em;
  position: absolute;
  right: 1em;
  width: 12.5em;
}

#control button {
  display: block;
  float: left;
}

#control h2 {
  font-size: 1em;
  margin: 0 0 0.5em;
  text-shadow: 0 2px 1px #EEEEEE;
}

#control button:hover {
  animation-name: hover-button;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;

  -webkit-animation-name: hover-button;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

#control fieldset {
  border: 1px solid #C9A165;
  margin: 0.5em 0;
}

#control button:disabled, #control button:disabled:hover {
  opacity: 0.5;
  animation: none;
  -webkit-animation: none;
}

/* Color Action selection */
nav#color-action #color-action-label {
  display: block;
  font-weight: bold;
}

nav#color-action input {
  display:none;
}

nav#color-action label {
    display:block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

nav#color-action input[type="radio"]:checked + label {
 background-color:#bbb;
}

/* Status Log */
#log {
  border: 1px solid black;
  height: 1.2em;
  overflow: auto;
}

#log div {
  overflow: hidden;
  position: relative;
  border-top: 1px dashed #ddd;
  font-family: monospace;
  font-weight: bold;
  height: 1.5em;
  line-height: 1.5em;
}

#log span {
  display: block;
  position: absolute;
}

#log span.message {
  left: 6em;
}

#log span.time {
  padding-left: 0.5em;
  color: #777777;
}

#log span.status {
  min-width: 80px;
  padding: 0 1em;
  right: 0;
  text-align: center;
}

#log span.success {
  background-color: green;
  color: white;
}

#log span.error {
  background-color: red;
  color: white;
}

#log span.complete {
  background-color: blue;
  color: white;
}

#log span.loading {
  background-color: #fff;
  background-image: url("images/log-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
}
