#colors.prang-glitter .color {
  background-image: url('glitter.png');
  color: black;
}

.prang-glitter #color0 {
  background-color: #f0846c; /* Ruby */
}

.prang-glitter #color1 {
  background-color: #efa038; /* Tangerine */
}

.prang-glitter #color2 {
  background-color: #dede5d; /* Canary */
}

#colors.prang-glitter #color3 {
  background-color: #2ca440; /* Emerald */
  color: white;
}

.prang-glitter #color4 {
  background-color: #32c0c4; /* Sapphire */
}

.prang-glitter #color5 {
  background-color: #cdb2d0; /* Lilac */
}

.prang-glitter #color6 {
  background-color: #b1bcac; /* Silver */
}

.prang-glitter #color7 {
  background-color: #aba66d; /* Gold */
}