body {
  font-family: sans-serif;
}

#main-content {
  display: block;
  margin: 1em;
}

#buffer {
  width: 200px;
  height: 200px;
  float: right;
}

#bufferarea {
  position: absolute;
  top: 0;
  left: 0;
}

#scratch button {
  font-size: 30px;
  height: 50px;
  width: 50px;
  line-height: 24px;
}

#scratch turtle {
  font-size: 50px;
  width: 50px;
  display: block;
}

.logo {
  float: left;
  margin-right: 1em;
  margin-top: -2em;
}

.hero-body {
  padding-bottom: 1em;
}

.tabs-content .tab-content {
  display: none;
}

.tabs-content .tab-content.is-active {
  display: block;
}

input.switch {
  transition: all 0.25s;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;
}

input.switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input.switch:checked {
  box-shadow: inset 20px 0 0 0 #ff0000;
  border-color: #ff0000;
}

input.switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

/* Color preset loader/dropdown */
.select2-container span.preset i {
  margin-right: 0.5em;
}

.select2-container span.colors {
  display: inline-block;
  vertical-align: text-top;
  margin-top: -3px;
}

.select2-container span.colors b {
  content: " ";
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  margin: 2px;
  border: 1px dashed black;
}

.select2-container span.colors b:hover {
  border-style: solid;
  border-width: 2px;
}

/* Colorset editor */
slide-item {
  overflow-x: hidden;
}
slide-item h1 {
  font-size: 5em;
}

/* Project loader */
#projects .list {
  height: 230px;
  overflow-y: auto;
  padding: 0;
}

#projects .list .card {
  cursor: pointer;
  height: 150px;
  display: flex;
  box-sizing: border-box;
}

#projects .list .card-image .empty {
  width: 250px;
}

#projects .list .card-image {
  overflow: hidden;
}

#projects .list .card img {
  height: 150px;
  width: auto;
}

#projects .list .card.is-active {
  border: 2px solid blueviolet;
}

/* Content Importer */
#content-importer {
  position: relative;
}

#content-importer .modal {
  position: absolute;
}

#content-importer .modal-content {
  width: 80%;
}

#source-type-wrapper {
  position: absolute;
  right: 1em;
}

@media only screen and (max-width: 1230px) {
  #source-type-wrapper {
    position: relative;
    right: auto;
    margin-bottom: 1em;
  }
}

#source-type {
  font-size: 1.2em;
}

