body {
  font-family: sans-serif;
}

#buffer {
  width: 200px;
  height: 200px;
  float: right;
}

#simwrap {
  position: relative;
}

#canvas-wrapper {

}

canvas.simcanvas {
  transform-origin: top left;
  border: 1px solid black;
  display: block;
}

#bufferarea {
  position: absolute;
  top: 0;
  left: 0;
}

#scratch button {
  font-size: 30px;
  height: 50px;
  width: 50px;
  line-height: 24px;
}

#scratch turtle {
  font-size: 50px;
  width: 50px;
  display: block;
}

.logo {
  float: left;
  margin-right: 1em;
  margin-top: -2em;
}

.hero-body {
  padding-bottom: 1em;
}

.tabs-content .tab-content {
  display: none;
}

.tabs-content .tab-content.is-active {
  display: block;
}

input.switch {
  transition: all 0.25s;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;
}

input.switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input.switch:checked {
  box-shadow: inset 20px 0 0 0 #ff0000;
  border-color: #ff0000;
}

input.switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

/* Color preset loader/dropdown */
.select2-container span.preset i {
  margin-right: 0.5em;
}

.select2-container span.colors {
  display: inline-block;
  vertical-align: text-top;
  margin-top: -3px;
}

.select2-container span.colors b {
  content: " ";
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  margin: 2px;
  border: 1px dashed black;
}

.select2-container span.colors b:hover {
  border-style: solid;
  border-width: 2px;
}

/* Colorset editor */
#color-editor .select2-selection--single {
  height: 43px;
}

.select2-container span.preset-color {
  display: flex;
  align-items: center;
}

.select2-container span.preset-color b {
  content: " ";
  display: block;
  height: 2em;
  width: 2em;
  border-radius: 0.6em;
  margin: 5px;
}

/* Colorset viewer */
#colorset .card b {
  content: " ";
  display: block;
  width: 5.5em;
  background: linear-gradient(90deg, rgba(255,255,255,0) 65%, rgba(255,255,255,1) 100%);
  margin-right: -0.3em;
  padding-top: 0.7em;
  padding-left: 0.4em;
  font-family: monospace;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#colorset .card {
  cursor: pointer;
}

#colorset .card:hover {
  background-color: rgba(240,240,240,1);
}

#colorset .card a {
  color: rgba(255,0,0,0.5);
  transition: all 0.25s;
}

#colorset .card a:hover {
  color: rgba(255,0,0,1);
  transform: scale(1.4);
}

#colorset .card.active {
  background-color: #3273dc;
}

#colorset .card:hover b {
  background: linear-gradient(90deg, rgba(240,240,240,0) 65%, rgba(240,240,240,1) 100%);
}

#colorset .card.active b,
#colorset .card.active:hover b {
  background: linear-gradient(90deg, rgba(50,115,220,0) 65%, rgba(50,115,220,1) 100%);
}

#colorset .card.active .card-header-title {
  color: white;
}

#colorset .card.active .card-header a {

}
