.crayola-classic #color0 {
  background-color: #844B35; /* Brown */
}

.crayola-classic #color1 {
  background-color: #907DBD; /* Violet */
}

.crayola-classic #color2 {
  background-color: #353AAA; /* Blue */
}

.crayola-classic #color3 {
  background-color: #2E6F3A; /* Green */
}

.crayola-classic #color4 {
  background-color: #F7F756; /* Yellow */
  color: black;
}

.crayola-classic #color5 {
  background-color: #FF6A00; /* Orange */
}

.crayola-classic #color6 {
  background-color: #A72611; /* Red */
}

.crayola-classic #color7 {
  background-color: #3E3A39; /* Black */
}